@use '../base/variables' as v;

header {
  padding: v.$spacing-unit;
  background-color: v.$background-color;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  h1 {
    margin: 0;
    color: v.$text-color;
    font-size: 1.5rem;
    text-align: center;
  }
} 